
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee List</title>
</head>
<body>

<th:block th:insert="Header.html"></th:block>

<div class="container-fluid">
	
		<div class="card">
		
			<div class ="card-header bg-primary text-center text-white"><h5>Employee Details</h5></div>
			
			<div class ="card-body ">
			
			<table >
			<thead>
			<tr >
			<th>Employee First Name </th>
			<th>Employee Last Name </th>
			<th>Employee Phone </th>
			<th>Employee Email </th>
			<th>Employee Company </th>
			
			
			<th>Action </th>
			</tr>
			</thead>
			
			<tbody>
			<tr th:each="e: ${elist}" >
			<td>[[${e.fname}]] </td>
			<td>[[${e.lname}]] </td>
			<td>[[${e.phone}]] </td>
			<td>[[${e.email}]] </td>
			<td>[[${e.company}]] </td>
			
			<td>
			<a th:href="@{/emp/edit(id=${e.id})}"><input type ="submit" value="Edit" class ="btn btn-success"></a>
			<a th:href="@{/emp/delete(id=${e.id})}"><input type ="submit" value="Delete" class ="btn btn-danger"></a>
			</td>
			</tbody>
			</table>
			
			
							
			
			</div>
			<div class="card-footer  bg-warning text-center"><h6>copyright@2024</h6>
			
			</div>
			
		
		</div>
	</div>


</body>
</html>

</body>
</html>